@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  /* width:200px;
    height:200px; */
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("./images/tokyo.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* bout me */

.profile-picture {
  width: 250px;
  height: 250px;
  background-color: rgba(158, 158, 158, 0.38);
  background-image: url(./images/yo.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

html {
  background-color: black;
}
